.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;

  min-width: 112px;

  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: 700;

  color: $color-default-white;
  background-color: $color-rebel;
  border: none;
  cursor: pointer;

  transition: background-color $default-transition-settings;

  &--in-basket {
    justify-content: flex-start;
    white-space: nowrap;
    background-color: $color-cioccolato;

    svg {
      margin-right: 5px;
      fill: transparent;
      order: -1;
    }
  }

  &--search {
    padding-left: 43px;
    padding-right: 43px;
  }

  &--buy {
    padding: 13px 9px;
    min-width: 112px;
  }

  &:not(:disabled):not(.btn--disabled):hover,
  &:not(:disabled):not(.btn--disabled):focus {
    background-color: $color-russett;
    outline: none;
    border: none;
  }

  &:not(:disabled):not(.btn--disabled):active {
    outline: none;
    border: none;
    background-color: $color-rebel;
  }

  &:disabled,
  &--disabled {
    background-color: $color-pink-swan;
    cursor: initial;
    outline: none;
  }

  &.js-is-hidden {
    display: none;
  }
}
