.footer {
  padding: 12px 0;
  background-color: transparent;
  border-top: 1px solid $color-gainsboro;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.footer__nav {
  margin-right: auto;
}

.footer__nav a {
  color: $color-matterhorn;
}

.footer__phone,
.footer__address {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-style: normal;
  font-family: $font-family--main;

  transition: opacity $default-transition-settings;

  svg {
    order: -1;
    margin-right: 8px;
    flex-shrink: 0;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 1;
  }
}

.footer__address {
  margin-left: 49px;
}
