.header {
  display: flex;
  align-items: center;
  padding: 12px 0;

  border-bottom: 1px solid $color-gainsboro;
  background-color: inherit;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

    width: 100%;
  }
}

.header__nav {
  margin-right: auto;
  max-width: 62%;
}
