.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.main-nav__item {
  margin-right: 23px;

  &:last-child {
    margin-right: 0;
  }
}

.main-nav__link {
  padding: 13px;

  white-space: nowrap;
  transition: opacity $default-transition-settings;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 1;
  }
}
