.search {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  min-width: 416px;

  label {
    display: flex;
    align-items: stretch;
    width: 100%;
  }

  input {
    height: 100%;
    width: 100%;
    padding: 13px 15px;
    border: 1px solid $color-gainsboro;
    border-right: none;
    background-color: transparent;
    outline: none;

    transition: border-color $default-transition-settings;
  }

  input:hover,
  input:active {
    border-color: $color-russett;
  }

  input:focus {
    border-color: $color-pink-swan;
  }
}
