mixin footer(footerMod)
  -
    var footerLinks = [
      {
        href: "#",
        text: "Каталог"
      },
      {
        href: "#",
        text: "Доставка"
      },
      {
        href: "#",
        text: "Оплата"
      },
      {
        href: "#",
        text: "Контакты"
      },
      {
        href: "#",
        text: "О галерее"
      },
    ]

  footer(class= (footerMod) ? "footer footer--" + footerMod : "footer")
    .container
      .footer__wrapper
        if(currentPage === "main")
          a.logo
            +img("content/header", "logo", "jpg", 48, 48, "The Famous")
        else
          a.logo(href="main.html", aria-label="Переход на главную")
            +img("content/header", "logo", "jpg", 48, 48, "The Famous")

        +main-nav(footerLinks, "footer__nav")

        a.footer__phone(href="tel:+74955555555") +7 (495) 555-55-55
          +icon("icon-phone", 16, 16)
        address.footer__address г. Москва, ул. Расплетина, 24
          +icon("icon-pin", 16, 16)
