mixin header(headerMod, currentPage)
  -
    var headerLinks = [
      {
        href: "#",
        text: "Каталог"
      },
      {
        href: "#",
        text: "Доставка"
      },
      {
        href: "#",
        text: "Оплата"
      },
      {
        href: "#",
        text: "Контакты"
      },
      {
        href: "#",
        text: "О галерее"
      },
    ]

  header(class=(headerMod) ? "header header--" + headerMod : "header")
    .container
      .header__wrapper
        if(currentPage === "main")
          a.logo
            +img("content/header", "logo", "jpg", 48, 48, "The Famous")
        else
          a.logo(href="main.html", aria-label="Переход на главную")
            +img("content/header", "logo", "jpg", 48, 48, "The Famous")
        +main-nav(headerLinks, "header__nav")

        .header_search
          +search("Поиск по названию картины", "Найти")
